<?xml version="1.0" encoding="utf-8"?><!--launch mode case--><!--resource case-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test.taylor.com.taylorcode">
    <!--android:sharedUserId="android.uid.system">-->
    <!--declare as an system app ,which have to do the following things :
        1,sign this app with platform signature using "java -jar signapk.jar platform.x509.pem platform.pk8 unsigned.apk signed.apk"
            platform.x509.pem and platform.pk8 is in the android source code ,the path is "framework/build/target/product/security"
        2,"adb pushed xxx.apk /system/priv-app/\"
        3,execute "adb reboot",when phone restart,this app will exits as system app.
    -->

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />-->


    <!--system permissions which used for system apps-->
    <uses-permission
        android:name="android.permission.SET_ACTIVITY_WATCHER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <!--system permissions which used for system apps-->

    <application
        android:name=".TaylorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.taylor.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data_persistence.RoomActivity" />
        <activity android:name=".ui.surface_view.SurfaceViewActivity" />

        <activity android:name=".kotlin.KotlinExample"></activity>

        <activity android:name=".annotations.AnnotationActivity"></activity>
        <activity android:name=".rxjava.LoginActivity" />

        <activity android:name=".optional.OptionalActivity"></activity>
        <activity android:name=".kotlin.KotlinActivity"></activity>

        <activity android:name=".ui.custom_view.selector.CustomViewActivity"></activity>
        <activity android:name=".list.ListActivity"></activity>
        <activity android:name=".ui.Factory2Activity"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.state_cross_activities.LiveDataActivity1"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.state_cross_activities.Activity2"></activity>
        <activity android:name=".ui.anim.AnimActivity"></activity>
        <activity android:name=".innerclass.InnerClassActivity"></activity>
        <activity android:name=".rxjava.takeUntilActivity"></activity>
        <activity android:name=".ui.CheckableActivity"></activity>
        <activity android:name=".broadcast.BroadcastActivity"></activity>
        <activity android:name=".date.DateActivity"></activity>
        <activity android:name=".ui.RatingBarActivity"></activity>
        <activity android:name=".ui.pagers.ViewPagerActivity"></activity>
        <activity android:name=".ui.TagViewActivity"></activity>
        <activity android:name=".ui.navigation.NavigationActivity"></activity>
        <activity android:name=".ui.DrawerLayoutActivity"></activity>
        <activity android:name=".alarm.AlarmActivity"></activity>
        <activity android:name=".HookSystemServiceActivity"></activity>
        <activity android:name=".rxjava.create_observable.CreateObservableActivity"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.ConstraintLayoutActivity"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.TableLayoutActivity"></activity>
        <activity android:name=".big_data.BigStringActivity"></activity>
        <activity android:name=".ui.RadioButtonActivity"></activity>
        <activity android:name=".ui.custom_view.selector.SelectorDemoActivity" />
        <activity android:name=".contact.ContactActivity"></activity>
        <activity android:name=".ui.DialogActivity"></activity>
        <activity android:name=".ui.touch_event.TouchEventActivity"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.material_design.CoordinateLayoutActivity"></activity>
        <activity android:name=".ui.custom_view.blur.BlurActivity"> </activity>
        <activity android:name=".ui.window.WindowActivity"
            android:theme="@style/DialogActivity"></activity>
        <activity android:name="test.taylor.com.taylorcode.ui.SpannableActivity"></activity>
        <activity android:name=".ui.ScrollViewActivity"></activity>
        <activity android:name=".ui.SelectorActivity"></activity>
        <activity android:name=".audio.SoundPoolActivity"></activity>
        <activity android:name=".rxjava.TimeoutActivity"></activity>
        <activity android:name=".rxjava.MultipleTaskEndingActivity"></activity>
        <!--case1:Holo theme is a must for showing action bar in activity-->
        <activity
            android:name=".ui.ActionBarActivity"
            android:theme="@android:style/Theme.Holo">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".rxjava.DropoutActivity"></activity>
        <activity android:name=".ui.ViewZorderActivity"></activity>
        <activity android:name=".aidl.ClientActivity"></activity>
        <activity android:name=".proxy.local.LocalDynamicProxyActivity"></activity>
        <activity android:name=".proxy.remote.RemoteDynamicProxyActivity"></activity>
        <activity android:name=".handler.HandlerActivity"></activity>
        <activity android:name=".try_catch_finally.ExceptionActivity"></activity>
        <activity android:name=".ui.notification.NotificationActivity"></activity>
        <activity android:name=".ui.BitmapStackActivity"></activity>
        <activity android:name=".system.AppStatusActivity"></activity>
        <activity android:name=".launch_mode.LaunchModeActivity"></activity>
        <activity
            android:name=".launch_mode.ActivityB"
            android:taskAffinity="test.taylor.com.taylorcode" />
        <activity android:name=".launch_mode.ActivityC" />
        <activity android:name=".launch_mode.ActivityA" />
        <activity
            android:name=".launch_mode.ActivityI"
            android:launchMode="singleTask" />
        <activity android:name=".launch_mode.ActivityH" />
        <activity android:name=".launch_mode.ActivityF" />
        <activity
            android:name=".launch_mode.ActivityG"
            android:launchMode="singleInstance" />
        <activity
            android:name=".launch_mode.ActivityE"
            android:taskAffinity="com.taylor.activity2" />
        <activity
            android:name=".launch_mode.ActivityD"
            android:taskAffinity="com.taylor.activity" />
        <activity
            android:name=".lockscreen.LockScreenActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".lockscreen.InitActivity"></activity>
        <activity android:name=".service.ServiceActivity"></activity>
        <activity android:name=".photo.TakePhotoActivity"></activity>
        <activity android:name=".SetResultActivity" />
        <activity android:name=".ui.viewstub.ViewStubActivity" />
        <activity android:name=".ui.transparent_fragment.TransparentFragmentActivity" />
        <activity android:name=".kotlin.override_property.OverridePropertyActivity" />
        <activity android:name=".kotlin.collection.KotlinCollectionActivity" />
        <activity android:name=".kotlin.invoke.InvokeActivity" />
        <activity android:name=".kotlin.AnoymousFunActivity" />
        <activity android:name=".ui.anim.TransitionManagerActivity" />
        <activity android:name="com.lpirro.constraintlayoutanimations.ConstraintSetActivity" />
        <activity android:name=".ui.line_feed_layout.TagActivity" />
        <activity android:name=".ui.ConstraintLayoutActivity2" />
        <activity android:name=".ui.custom_view.tag_view.TagTextViewActivity" />
        <activity
            android:name=".proxy.remote.RemoteActivity"
            android:process=":alienProcess" />
        <activity android:name=".kotlin.coroutine.CoroutineActivity" />
        <activity android:name=".ui.custom_view.treasure_box.TreasureActivity" />
        <activity android:name=".concurrent.ConcurrentActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".concurrent.ThreadPoolActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".aysnc.workmanager.WorkManagerActivity" />
        <activity android:name=".gson.GsonActivity" />
        <activity android:name=".sp.SharedPreferenceActivity" />
        <activity android:name=".broadcast.NewBroadcastActivity" />
        <activity android:name=".kotlin.delegate.DelegateActivity" />
        <activity android:name=".kotlin.override_operator.OverrideOperatorActivity" />
        <activity android:name=".ui.pagers.ViewPager2Activity" />
        <activity android:name=".ui.flow.FlowActivity" />
        <activity android:name=".ui.ConstraintLayoutActivity3" />
        <activity android:name=".ui.Factory2Activity2" />
        <activity android:name=".ui.databinding.DataBindingActivity" />
        <activity android:name=".ui.state_cross_activities.LiveDataActivity" />
        <activity android:name=".retrofit.viewmodel.RetrofitActivity" />
        <activity android:name=".retrofit.god_activity.GodActivity" />
        <activity android:name=".retrofit.repository_single.RetrofitActivity" />
        <activity android:name=".retrofit.repository_livedata.RetrofitActivity" />
        <activity android:name=".retrofit.presenter.RetrofitActivity" />
        <activity android:name=".no_field.H5Activity" />
        <activity android:name=".no_field.NoFieldActivity" />
        <activity android:name=".ui.ViewFlipperActivity" />
        <activity android:name=".aysnc.HandlerThreadVsCoroutineActivity" />
        <activity android:name=".aysnc.priority.PriorityActivity" />
        <activity android:name=".aysnc.priority.SplashActivity" />
        <activity android:name=".kotlin.coroutine.CoroutineCancelActivity" />
        <activity android:name=".kotlin.coroutine.SuspendCoroutineActivity" />
        <activity android:name=".ui.DarkActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity android:name=".ui.night_mode.BaseActivity" />
        <activity android:name=".kotlin.Channel.ChannelActivity" />
        <activity android:name=".ui.DynamicalLayoutActivity" />
        <activity android:name=".dns.DnsActivity" />
        <activity android:name=".ui.night_mode.TestMaskActivity" />
        <activity android:name=".ui.custom_view.progress_view.ProgressBarActivity" />
        <activity android:name=".ui.recyclerview.variety.VarietyAdapterActivity" />
        <activity android:name=".ui.recyclerview.select.SelectRecycleViewActivity" />
        <activity android:name=".ui.custom_view.recyclerview_indicator.IndicatorActivity" />
        <activity android:name=".type_parameter.TypeParameterActivity" />
        <activity android:name=".new_activity_result.NewActivityResultActivity" />
        <activity android:name=".ui.custom_view.path.PathActivity" />
        <activity android:name=".ui.custom_view.bullet_screen.LiveCommentActivity" />
        <activity android:name=".ui.anim.AddViewActivity" />
        <activity android:name=".ui.custom_view.bullet_screen.LaneViewActivity" />
        <activity android:name=".ui.anim.transitionmanager.TransitionManagerActivity" />
        <activity android:name=".ui.ConstraintLayout4" />
        <activity android:name=".kotlin.coroutine.FlowActivity" />
        <activity android:name=".ui.custom_view.blur.BlurActivity2" />
        <activity android:name=".ui.custom_view.crop_view.CropActivity" />
        <activity android:name=".ui.custom_view.shader.ShaderActivity" />
        <activity android:name=".ui.performance.RecyclerViewPerformanceActivity" >
        </activity>
        <activity android:name=".ui.performance.widget.PercentActivity" />
        <activity android:name=".interview.InterViewActivity" />
        <activity android:name=".ui.custom_view.time_picker.TimePickerActivity" />
        <activity android:name=".ui.TouchDelegateActivity" />
        <activity android:name=".ui.material_design.nested.NestedScrollCoordinateLayoutActivity" />
        <activity android:name=".ui.performance.recyclerview_item_anim.RecyclerViewItemAnimActivity" />
        <activity android:name=".ui.one.OneActivity" />
        <activity android:name=".ui.touch_event.touch_delegate.TouchDelegateActivity" />
        <activity android:name=".desin.abstract_handler.AbstractHandlerActivity" />
        <activity android:name=".audio.AudioRecorderActivity" />
        <activity android:name=".audio.encoder.HWRecorderActivity" />
        <activity android:name=".kotlin.coroutine.CoroutineActivity2" />
        <activity android:name=".concurrent.countdownlatch.CountDownLatchActivity" />
        <activity android:name=".design_mode.responsible_chain.ResponsibilityChainActivity" />
        <activity android:name=".rxjava.SingleActivity" />
        <activity android:name=".ui.custom_view.bullet_screen.LaneLayoutManagerActivity" />
        <activity android:name=".ui.recyclerview.grid_layout.GridLayoutActivity" />
        <activity android:name=".kotlin.KotlinActivity2" />
        <activity android:name=".ui.pagers.ViewPager2Activity2" />
        <activity android:name=".ui.recyclerview.anim.RecyclerViewAnimActivity" />
        <activity android:name=".ui.recyclerview.anim2.RecyclerViewItemAnimatorActivity" />
        <activity android:name=".ui.custom_view.overlap_anim.OverlapAnimActivity" />
        <activity android:name=".ui.ImageViewScaleTypeActivity" />
        <activity android:name=".ui.zoom.ZoomActivity" />
        <activity android:name=".data_persistence.okio.OkioActivity" />
        <activity android:name=".log.LogActivity" />
        <activity android:name=".aysnc.concurrent.ConcurrentActivity" />
        <activity android:name=".architecture.LiveDataActivity" />
        <activity android:name=".architecture.StickyLiveDataActivity" />
        <activity android:name=".kotlin.coroutine.mvvm.StateFlowActivity" />

        <service android:name=".aidl.LocalServer" />
        <service android:name=".broadcast.MyIntentService" />
        <!--a service in another process-->
        <service
            android:name=".proxy.remote.RemoteService"
            android:process=":alienProcess" /><!--: means affiliated to current process but not the same process as the current-->
        <service android:name=".lockscreen.LockScreenService" />
        <service android:name=".service.ServiceA" />
        <service android:name=".aidl.LocalSingletonService" />

        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver android:name=".broadcast.Receiver" />
        <receiver android:name="test.taylor.com.taylorcode.ui.notification.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="BROADCAST_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>